<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-evento-de-incidente-heading"
        data-cy="EventoDeIncidenteCreateUpdateHeading"
        jhiTranslate="oncallApp.eventoDeIncidente.home.createOrEditLabel"
      >
        Crear o editar Evento De Incidente
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let tipoRef = editForm.get('tipo')!;
        <div class="mb-3">
          <label class="form-label" for="field_tipo" jhiTranslate="oncallApp.eventoDeIncidente.tipo">Tipo</label>
          <select class="form-control" name="tipo" formControlName="tipo" id="field_tipo" data-cy="tipo">
            <option [ngValue]="null">{{ 'oncallApp.TipoEvento.null' | translate }}</option>
            @for (tipoEvento of tipoEventoValues; track $index) {
              <option [value]="tipoEvento">{{ 'oncallApp.TipoEvento.' + tipoEvento | translate }}</option>
            }
          </select>
          @if (tipoRef.invalid && (tipoRef.dirty || tipoRef.touched)) {
            <div>
              @if (tipoRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        @let detalleRef = editForm.get('detalle')!;
        <div class="mb-3">
          <label class="form-label" for="field_detalle" jhiTranslate="oncallApp.eventoDeIncidente.detalle">Detalle</label>
          <input type="text" class="form-control" name="detalle" id="field_detalle" data-cy="detalle" formControlName="detalle" />
          @if (detalleRef.invalid && (detalleRef.dirty || detalleRef.touched)) {
            <div>
              @if (detalleRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (detalleRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >Este campo no puede superar más de 500 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let ocurridoEnRef = editForm.get('ocurridoEn')!;
        <div class="mb-3">
          <label class="form-label" for="field_ocurridoEn" jhiTranslate="oncallApp.eventoDeIncidente.ocurridoEn">Ocurrido En</label>
          <div class="d-flex">
            <input
              id="field_ocurridoEn"
              data-cy="ocurridoEn"
              type="datetime-local"
              class="form-control"
              name="ocurridoEn"
              formControlName="ocurridoEn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (ocurridoEnRef.invalid && (ocurridoEnRef.dirty || ocurridoEnRef.touched)) {
            <div>
              @if (ocurridoEnRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!ocurridoEnRef.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Este campo debe ser una fecha y hora.</small
              >
            </div>
          }
        </div>

        @let automaticoRef = editForm.get('automatico')!;
        <div class="mb-3">
          <label class="form-label" for="field_automatico" jhiTranslate="oncallApp.eventoDeIncidente.automatico">Automatico</label>
          <input
            type="checkbox"
            class="form-check"
            name="automatico"
            id="field_automatico"
            data-cy="automatico"
            formControlName="automatico"
          />
          @if (automaticoRef.invalid && (automaticoRef.dirty || automaticoRef.touched)) {
            <div>
              @if (automaticoRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_incidente" jhiTranslate="oncallApp.eventoDeIncidente.incidente">Incidente</label>
          <select
            class="form-control"
            id="field_incidente"
            data-cy="incidente"
            name="incidente"
            formControlName="incidente"
            [compareWith]="compareIncidente"
          >
            @if (editForm.get(['incidente'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (incidenteOption of incidentesSharedCollection(); track $index) {
              <option [ngValue]="incidenteOption">{{ incidenteOption.titulo }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['incidente'])!.invalid && (editForm.get(['incidente'])!.dirty || editForm.get(['incidente'])!.touched)) {
          <div>
            @if (editForm.get(['incidente'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
