<div>
  <h2 id="page-heading" data-cy="PostmortemHeading">
    <span jhiTranslate="oncallApp.postmortem.home.title">Postmortems</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="oncallApp.postmortem.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-postmortem"
        [routerLink]="['/postmortem/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="oncallApp.postmortem.home.createLabel">Crear nuevo Postmortem</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (postmortems().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="oncallApp.postmortem.home.notFound">Ningún Postmortems encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="titulo">
              <div class="d-flex">
                <span jhiTranslate="oncallApp.postmortem.titulo">Titulo</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="resumen">
              <div class="d-flex">
                <span jhiTranslate="oncallApp.postmortem.resumen">Resumen</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="causaRaiz">
              <div class="d-flex">
                <span jhiTranslate="oncallApp.postmortem.causaRaiz">Causa Raiz</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="lineaDeTiempo">
              <div class="d-flex">
                <span jhiTranslate="oncallApp.postmortem.lineaDeTiempo">Linea De Tiempo</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="leccionesAprendidas">
              <div class="d-flex">
                <span jhiTranslate="oncallApp.postmortem.leccionesAprendidas">Lecciones Aprendidas</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="publicado">
              <div class="d-flex">
                <span jhiTranslate="oncallApp.postmortem.publicado">Publicado</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="publicadoEn">
              <div class="d-flex">
                <span jhiTranslate="oncallApp.postmortem.publicadoEn">Publicado En</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="incidente.titulo">
              <div class="d-flex">
                <span jhiTranslate="oncallApp.postmortem.incidente">Incidente</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (postmortem of postmortems(); track trackId(postmortem)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/postmortem', postmortem.id, 'view']">{{ postmortem.id }}</a>
              </td>
              <td>{{ postmortem.titulo }}</td>
              <td>{{ postmortem.resumen }}</td>
              <td>{{ postmortem.causaRaiz }}</td>
              <td>{{ postmortem.lineaDeTiempo }}</td>
              <td>{{ postmortem.leccionesAprendidas }}</td>
              <td>{{ postmortem.publicado }}</td>
              <td>{{ postmortem.publicadoEn | formatMediumDatetime }}</td>
              <td>
                @if (postmortem.incidente) {
                  <div>
                    <a [routerLink]="['/incidente', postmortem.incidente.id, 'view']">{{ postmortem.incidente.titulo }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/postmortem', postmortem.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/postmortem', postmortem.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(postmortem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (postmortems().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
