<div>
  <h2 id="page-heading" data-cy="PoliticaEscalamientoHeading">
    <span jhiTranslate="oncallApp.politicaEscalamiento.home.title">Politica Escalamientos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="oncallApp.politicaEscalamiento.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-politica-escalamiento"
        [routerLink]="['/politica-escalamiento/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="oncallApp.politicaEscalamiento.home.createLabel">Crear nuevo Politica Escalamiento</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (politicaEscalamientos().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="oncallApp.politicaEscalamiento.home.notFound">Ningún Politica Escalamientos encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="nombre">
              <div class="d-flex">
                <span jhiTranslate="oncallApp.politicaEscalamiento.nombre">Nombre</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="descripcion">
              <div class="d-flex">
                <span jhiTranslate="oncallApp.politicaEscalamiento.descripcion">Descripcion</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="repetirVeces">
              <div class="d-flex">
                <span jhiTranslate="oncallApp.politicaEscalamiento.repetirVeces">Repetir Veces</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="servicio.nombre">
              <div class="d-flex">
                <span jhiTranslate="oncallApp.politicaEscalamiento.servicio">Servicio</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (politicaEscalamiento of politicaEscalamientos(); track trackId(politicaEscalamiento)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/politica-escalamiento', politicaEscalamiento.id, 'view']">{{ politicaEscalamiento.id }}</a>
              </td>
              <td>{{ politicaEscalamiento.nombre }}</td>
              <td>{{ politicaEscalamiento.descripcion }}</td>
              <td>{{ politicaEscalamiento.repetirVeces }}</td>
              <td>
                @if (politicaEscalamiento.servicio) {
                  <div>
                    <a [routerLink]="['/servicio', politicaEscalamiento.servicio.id, 'view']">{{ politicaEscalamiento.servicio.nombre }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/politica-escalamiento', politicaEscalamiento.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a
                    [routerLink]="['/politica-escalamiento', politicaEscalamiento.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(politicaEscalamiento)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
