<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-turno-de-guardia-heading"
        data-cy="TurnoDeGuardiaCreateUpdateHeading"
        jhiTranslate="oncallApp.turnoDeGuardia.home.createOrEditLabel"
      >
        Crear o editar Turno De Guardia
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let desdeRef = editForm.get('desde')!;
        <div class="mb-3">
          <label class="form-label" for="field_desde" jhiTranslate="oncallApp.turnoDeGuardia.desde">Desde</label>
          <div class="d-flex">
            <input
              id="field_desde"
              data-cy="desde"
              type="datetime-local"
              class="form-control"
              name="desde"
              formControlName="desde"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (desdeRef.invalid && (desdeRef.dirty || desdeRef.touched)) {
            <div>
              @if (desdeRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small class="form-text text-danger" [hidden]="!desdeRef.errors?.datetimelocal" jhiTranslate="entity.validation.datetimelocal"
                >Este campo debe ser una fecha y hora.</small
              >
            </div>
          }
        </div>

        @let hastaRef = editForm.get('hasta')!;
        <div class="mb-3">
          <label class="form-label" for="field_hasta" jhiTranslate="oncallApp.turnoDeGuardia.hasta">Hasta</label>
          <div class="d-flex">
            <input
              id="field_hasta"
              data-cy="hasta"
              type="datetime-local"
              class="form-control"
              name="hasta"
              formControlName="hasta"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (hastaRef.invalid && (hastaRef.dirty || hastaRef.touched)) {
            <div>
              @if (hastaRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small class="form-text text-danger" [hidden]="!hastaRef.errors?.datetimelocal" jhiTranslate="entity.validation.datetimelocal"
                >Este campo debe ser una fecha y hora.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_esReemplazo" jhiTranslate="oncallApp.turnoDeGuardia.esReemplazo">Es Reemplazo</label>
          <input
            type="checkbox"
            class="form-check"
            name="esReemplazo"
            id="field_esReemplazo"
            data-cy="esReemplazo"
            formControlName="esReemplazo"
          />
        </div>

        @let notaRef = editForm.get('nota')!;
        <div class="mb-3">
          <label class="form-label" for="field_nota" jhiTranslate="oncallApp.turnoDeGuardia.nota">Nota</label>
          <input type="text" class="form-control" name="nota" id="field_nota" data-cy="nota" formControlName="nota" />
          @if (notaRef.invalid && (notaRef.dirty || notaRef.touched)) {
            <div>
              @if (notaRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >Este campo no puede superar más de 255 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_rotacion" jhiTranslate="oncallApp.turnoDeGuardia.rotacion">Rotacion</label>
          <select
            class="form-control"
            id="field_rotacion"
            data-cy="rotacion"
            name="rotacion"
            formControlName="rotacion"
            [compareWith]="compareRotacion"
          >
            @if (editForm.get(['rotacion'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (rotacionOption of rotacionsSharedCollection(); track $index) {
              <option [ngValue]="rotacionOption">{{ rotacionOption.nombre }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['rotacion'])!.invalid && (editForm.get(['rotacion'])!.dirty || editForm.get(['rotacion'])!.touched)) {
          <div>
            @if (editForm.get(['rotacion'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_responsable" jhiTranslate="oncallApp.turnoDeGuardia.responsable">Responsable</label>
          <select
            class="form-control"
            id="field_responsable"
            data-cy="responsable"
            name="responsable"
            formControlName="responsable"
            [compareWith]="compareUser"
          >
            @if (!editForm.get('responsable')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (userOption of usersSharedCollection(); track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['responsable'])!.invalid && (editForm.get(['responsable'])!.dirty || editForm.get(['responsable'])!.touched)) {
          <div>
            @if (editForm.get(['responsable'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
